node_modules/

# Build output
.expo/
dist/

credentials.json

# Local machine config
local.properties
*.log
*.lock
*.env
*.env.*
.idea/
.vscode/
.DS_Store
*.iml
# Brainstorming companion sessions
.superpowers/
